@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

:root {
  --red: hsl(0, 100%, 68%);
  --ver_dark_blue: hsl(230, 29%, 20%);
  --dark_greyish_blue: hsl(230, 11%, 40%);
  --greyish_blue: hsl(231, 7%, 65%);
  --light_greyish_blue: hsl(207, 33%, 95%);
  --barlow: "Barlow", sans-serif;
  --barlow_condensed: "Barlow Condensed", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
}

.nav_sec {
  display: flex;
  height: 55vh;
  position: relative;
  margin: 0 auto;
}

.illus_div {
  position: absolute;
  top: 110px;
  left: 0px;
  height: 35vh;
  width: 150vw;
}

.illust {
  max-width: 100%;
  max-height: 100%;
}

.nav_sec > * {
  flex-basis: 50%;
}

.logo_div {
  padding: 2rem 0 0 1.5rem;
}

.ham_div {
  min-height: 100%;
  background-color: var(--light_greyish_blue);
  border-bottom-left-radius: 3rem;
  padding: 2rem 1.5rem 0 0;
}

.inside_div {
  transform: translateY(10px);
}

.hamburger {
  cursor: pointer;
  float: right;
}

nav {
  display: none;
  /* transform: translateX(-150%); */
  position: absolute;
  background-color: #fff;
  left: 1.5rem;
  top: 80px;
  width: calc(100% - 3rem);
  text-align: center;
  padding: 1.5rem 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  /* transition: transform 0.5s; */
}

nav.active {
  display: block;
  /* transform: translateX(0); */
  animation: side_anime 0.5s ease-in forwards;
  /* transition: transform 1s; */
}

@keyframes side_anime {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

ul a {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--barlow_condensed);
  font-weight: 700;
  color: var(--dark_greyish_blue);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

ul li:last-child a {
  color: var(--greyish_blue);
}

hr {
  opacity: 0.2;
}

.text_sec {
  padding: 1.5rem;
}

.mono {
  font-family: var(--barlow_condensed);
  text-transform: uppercase;
  color: var(--greyish_blue);
  letter-spacing: 0.3rem;
  font-size: 0.85rem;
}

.new {
  background-color: var(--ver_dark_blue);
  color: #fff;
  padding: 0.2rem 0.7rem;
  letter-spacing: 0;
  font-weight: 700;
  border-radius: 1rem;
  margin-right: 0.8rem;
}

h1 {
  font-family: var(--barlow_condensed);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-block: 1.4rem;
}

.planning {
  font-family: var(--barlow);
  font-size: 1.1rem;
  margin-bottom: 1.4rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.left {
  cursor: pointer;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--red);
  text-transform: uppercase;
  font-family: var(--barlow_condensed);
  color: #fff;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.9em 1em;
}

.right {
  cursor: pointer;
  border: none;
  font-family: var(--barlow_condensed);
  font-weight: 400;
  background-color: #fff;
  color: var(--greyish_blue);
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
  padding: 0.9em 1em;
  text-transform: uppercase;
}

@media only screen and (min-width: 850px) {
  main {
    width: 100%;
    max-width: unset;
    background-size: 50rem;
    background-position: top 25vh right -200px;
  }

  .nav_sec {
    height: 50vh;
  }

  .logo_div {
    padding: 4rem 0 0 8rem;
  }

  .ham_div {
    display: none;
  }

  nav {
    all: unset;
    background-color: var(--light_greyish_blue);
    border-bottom-left-radius: 3rem;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: row;
    gap: 3rem;
  }

  .illus_div {
    height: 75vh;
    top: 50%;
    left: 52%;
  }

  .text_sec {
    padding-left: 8rem;
    min-width: 600px;
    max-width: 600px;
    transform: translateY(-180px);
  }

  .mono {
    font-size: 1rem;
  }

  h1 {
    font-size: 3rem;
  }

  .planning {
    font-size: 1.25rem;
    padding-right: 6rem;
    margin-bottom: 3rem;
  }

  .buttons {
    gap: 1rem;
    justify-content: flex-start;
  }

  .left,
  .right {
    padding: 1rem 1.2rem;
  }
}
